.navbar-custom {
  color: #3b2f2f;
}

.navbar-custom .nav-link {
  color: #3b2f2f;
}

.navbar-custom .nav-link.active {
  font-weight: bold;
}

.hero-section {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../images/hero.png") no-repeat center center;
  background-size: cover;
  color: #ffebd4;
  padding: 100px 0;
}

.hero-section h1 {
  font-family: "Handlee", cursive;
}

.btn {
  color: #3b2f2f;
}

.card-img-top {
  height: 200px;
  object-fit: cover;
}

/* General Section Titles */
.section-title {
  color: #3b2f2f;
  font-family: "Handlee", cursive;
}

/* Card Titles */
.card-title {
  color: #3b2f2f;
  font-family: "Handlee", cursive;
}

/* Testimonial Author */
.testimonial-author {
  color: #3b2f2f;
}

/* Footer */
.footer {
  background-color: #6f4e37 !important;
}
.footer .social-link {
  color: #ffebd4 !important;
  font-size: 1.5rem;
}
.footer p {
  color: #ffebd4 !important;
}

.contact-title {
  font-family: "Handlee", cursive;
  color: #3b2f2f;
  font-size: 2.5rem;
  letter-spacing: 1px;
  margin-bottom: 0.5em;
  text-shadow: 1px 1px 8px #ffebd480;
}
